.Rproj.user
.Rhistory
.RData
.Ruserdata

src/*
src-i386/*
src-x64/*


vignettes/*.R
!vignettes/*.Rmd
vignettes/*.html
vignettes/*_files

development.R
document-build-roxygen2-error.R

tests/testthat/Rplots.pdf



Rebuild - unload dyn libraries.R
